.old_dated_events {
  /* background: cyan; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.old_dated_events a {
  text-decoration: none;
  color: var(--theme_dark_alert_color);
}

.old_dated_events a p {
  text-decoration: none;
  color: var(--theme_light_text_color);
}
